
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<body>
        <div class="hidden-xs" style="margin-bottom:50px;"></div>
        <div class="container">
            <div class="row vertical-center-row">
                <div class="col-md-4 col-center-block login-widget">
                    <div>
                        <div class="modal-header">
                            <h4 class="modal-title">Đăng ký</h4>
                        </div>
                        <div class="modal-body">
                            <div class="boxs">
                                <div class="division">
                                    <div class="line l"></div>
                                    <div class="line r"></div>
                                </div>
                                <div class="error" style="color:red">@ViewData["Loi"]</div>
                                <div class="form registerBox" style="display: block;">
                                    <form method="post" action="#">
                                        <input id="Text1" class="form-control" placeholder="Email" name="email" type="text" value="@ViewData["email"]">
                                        <input id="password1" class="form-control" placeholder="Password" name="password" type="password" value="@ViewData["password"]">
                                        <input id="password_confirmation" class="form-control" placeholder="Nhập lại Password" name="password_confirmation" type="password" value="@ViewData["password_confirmation"]">
                                        
                                        <input class="btn btn-default btn-register" value="Tạo tài khoản" name="commit" type="submit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="forgot register-footer" style="display: block;">
                            Bạn có tài khoản rồi? <a href="/dang-nhap"> Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>