@model IEnumerable<ProjectHoloWeb.Models.TransTeam>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Title</h3>
                        <!-- Navbar -->
                        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                            <!-- Left navbar links -->
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                                </li>

                            </ul>

                           
                           
                        </nav>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="margin-left: 320px;">
                        <h4>Quản lý nhóm dịch</h4>

                        <table class="table" border="1">
                            <tr style="background-color:gray">
                                <th width="200px">
                                    Tên nhóm dịch
                                </th>

                                <th width="200px"></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.team)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.IDteam }) |
                                        @Html.ActionLink("Xoá", "Delete", new { id = item.IDteam })
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>