USE [TruyenTranh]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[useradmin] [varchar](50) NOT NULL,
	[passadmin] [varchar](50) NOT NULL,
	[fullname] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[useradmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[IDauthor] [varchar](50) NOT NULL,
	[author] [nvarchar](50) NOT NULL,
	[created] [datetime] NULL,
	[updated] [datetime] NULL,
 CONSTRAINT [PK_author] PRIMARY KEY CLUSTERED 
(
	[IDauthor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Catergory]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catergory](
	[IDcatergory] [varchar](50) NOT NULL,
	[catergory] [nvarchar](50) NOT NULL,
	[decriptions] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[update_at] [datetime] NULL,
 CONSTRAINT [PK_catergory] PRIMARY KEY CLUSTERED 
(
	[IDcatergory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[IDchapter] [varchar](50) NOT NULL,
	[chapter] [nvarchar](100) NOT NULL,
	[IDcomic] [varchar](50) NOT NULL,
	[created] [datetime] NULL,
	[update] [datetime] NULL,
	[ImageLink] [varchar](255) NULL,
 CONSTRAINT [PK_chapter] PRIMARY KEY CLUSTERED 
(
	[IDchapter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comic]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comic](
	[IDcomic] [varchar](50) NOT NULL,
	[comic] [nvarchar](100) NOT NULL,
	[created] [datetime] NOT NULL,
	[updated] [datetime] NOT NULL,
	[ratting] [int] NULL,
	[views] [int] NULL,
	[share] [int] NULL,
	[IDauthor] [varchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[ImageLink] [varchar](255) NULL,
 CONSTRAINT [PK_Comic] PRIMARY KEY CLUSTERED 
(
	[IDcomic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComicCatergory]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComicCatergory](
	[id] [varchar](50) NOT NULL,
	[IDcatergory] [varchar](50) NOT NULL,
	[IDcomic] [varchar](50) NOT NULL,
 CONSTRAINT [PK_comic_catergory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComicTrans]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComicTrans](
	[id] [varchar](50) NOT NULL,
	[IDcomic] [varchar](50) NOT NULL,
	[IDteam] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ComicTrans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageChapter]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageChapter](
	[IDchapter] [varchar](50) NOT NULL,
	[ImageLink] [varchar](255) NULL,
	[IDimagechapter] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ImageChapter_1] PRIMARY KEY CLUSTERED 
(
	[IDimagechapter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[IDper] [varchar](50) NOT NULL,
	[permission] [bit] NOT NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[IDper] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionUser]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionUser](
	[id] [varchar](50) NOT NULL,
	[IDuser] [varchar](50) NOT NULL,
	[IDper] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PermissionUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransPermission]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransPermission](
	[IDtransper] [varchar](50) NOT NULL,
	[transperName] [nvarchar](50) NULL,
 CONSTRAINT [PK_TransPermission] PRIMARY KEY CLUSTERED 
(
	[IDtransper] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransTeam]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransTeam](
	[IDteam] [varchar](50) NOT NULL,
	[team] [nvarchar](100) NOT NULL,
	[created] [datetime] NULL,
 CONSTRAINT [PK_TransTeam] PRIMARY KEY CLUSTERED 
(
	[IDteam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26-Jul-21 11:51:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IDuser] [varchar](50) NOT NULL,
	[mail] [nvarchar](50) NOT NULL,
	[pass] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[created] [datetime] NULL,
	[updated] [datetime] NULL,
	[IDteam] [varchar](50) NULL,
	[IDtransper] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IDuser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([useradmin], [passadmin], [fullname]) VALUES (N'admin', N'123456', N'ADMIN')
GO
INSERT [dbo].[Author] ([IDauthor], [author], [created], [updated]) VALUES (N'AUT001', N'RyuuOh Takehiro', NULL, NULL)
INSERT [dbo].[Author] ([IDauthor], [author], [created], [updated]) VALUES (N'AUT002', N'Professor Duy', NULL, NULL)
INSERT [dbo].[Author] ([IDauthor], [author], [created], [updated]) VALUES (N'AUT003', N'Brother Luan', NULL, NULL)
GO
INSERT [dbo].[Catergory] ([IDcatergory], [catergory], [decriptions], [created_at], [update_at]) VALUES (N'CAT001', N'Adult', N'Thể loại đề cập vấn đề về giới tính nhạy cảm dành cho lứa tuổi trên 17 tuổi', NULL, NULL)
INSERT [dbo].[Catergory] ([IDcatergory], [catergory], [decriptions], [created_at], [update_at]) VALUES (N'CAT002', N'Adventure', N'Thể loại phiêu lưu, mạo hiểm thường kể về hành trình của các nhân vật chính', NULL, NULL)
INSERT [dbo].[Catergory] ([IDcatergory], [catergory], [decriptions], [created_at], [update_at]) VALUES (N'CAT003', N'Anime', N'Các thể loại truyện đã được chuyển đổi thành phim hoạt hình', NULL, NULL)
GO
INSERT [dbo].[Chapter] ([IDchapter], [chapter], [IDcomic], [created], [update], [ImageLink]) VALUES (N'CHA001', N'Chap 1', N'COM001', CAST(N'2020-12-12T00:00:00.000' AS DateTime), CAST(N'2020-12-12T00:00:00.000' AS DateTime), N'')
INSERT [dbo].[Chapter] ([IDchapter], [chapter], [IDcomic], [created], [update], [ImageLink]) VALUES (N'CHA002', N'Chap 2', N'COM001', CAST(N'2020-12-12T00:00:00.000' AS DateTime), CAST(N'2020-12-12T00:00:00.000' AS DateTime), N'https://storage.fshare.vn/aca-nov-2019/Backup-7302985.jpg')
INSERT [dbo].[Chapter] ([IDchapter], [chapter], [IDcomic], [created], [update], [ImageLink]) VALUES (N'CHA003', N'Chap 3', N'COM001', CAST(N'2020-12-12T00:00:00.000' AS DateTime), CAST(N'2020-12-12T00:00:00.000' AS DateTime), N'https://storage.fshare.vn/static-01/7303545.jpeg')
GO
INSERT [dbo].[Comic] ([IDcomic], [comic], [created], [updated], [ratting], [views], [share], [IDauthor], [status], [description], [ImageLink]) VALUES (N'COM001', N'Doraemon', CAST(N'2020-02-01T00:00:00.000' AS DateTime), CAST(N'2021-02-03T00:00:00.000' AS DateTime), 4, 12568, 365, N'AUT001', N'Đang tiến hành', N'Chú mèo máy đến từ tương lai', N'https://i.imgur.com/EZoQb5l.png')
INSERT [dbo].[Comic] ([IDcomic], [comic], [created], [updated], [ratting], [views], [share], [IDauthor], [status], [description], [ImageLink]) VALUES (N'COM003', N'Naruto', CAST(N'2018-06-06T00:00:00.000' AS DateTime), CAST(N'2021-04-06T00:00:00.000' AS DateTime), 4, 11458, 333, N'AUT003', N'Đã hoàn thành', N'Câu chuyện kể về cậu bé bị phong ấn Naruto ồn áo, hiếu động và luôn muốn được công nhận một cách thực sự. Cậu đã thề rằng một ngày không xa, cậu sẽ trở thành Hokage vĩ đại nhất trong lịch sử ngôi làng.', N'https://i.imgur.com/LhhEtk0.jpg
')
GO
INSERT [dbo].[ComicCatergory] ([id], [IDcatergory], [IDcomic]) VALUES (N'COMCAT001', N'CAT002', N'COM001')
INSERT [dbo].[ComicCatergory] ([id], [IDcatergory], [IDcomic]) VALUES (N'COMCAT002', N'CAT004', N'COM001')
INSERT [dbo].[ComicCatergory] ([id], [IDcatergory], [IDcomic]) VALUES (N'COMCAT003', N'CAT023', N'COM001')
GO
INSERT [dbo].[ComicTrans] ([id], [IDcomic], [IDteam]) VALUES (N'COMTRA001', N'COM001', N'TEA001')
INSERT [dbo].[ComicTrans] ([id], [IDcomic], [IDteam]) VALUES (N'COMTRA002', N'COM002', N'TEA001')
INSERT [dbo].[ComicTrans] ([id], [IDcomic], [IDteam]) VALUES (N'COMTRA003', N'COM003', N'TEA001')
GO
SET IDENTITY_INSERT [dbo].[ImageChapter] ON 

INSERT [dbo].[ImageChapter] ([IDchapter], [ImageLink], [IDimagechapter]) VALUES (N'CHA002', N'https://i.imgur.com/6uAymQu.jpg', 16)
INSERT [dbo].[ImageChapter] ([IDchapter], [ImageLink], [IDimagechapter]) VALUES (N'CHA002', N'https://i.imgur.com/7PS1hHf.jpg', 19)
INSERT [dbo].[ImageChapter] ([IDchapter], [ImageLink], [IDimagechapter]) VALUES (N'CHA002', N'https://i.imgur.com/BZxb8Fc.jpg', 20)
GO
SET IDENTITY_INSERT [dbo].[ImageChapter] OFF
GO
INSERT [dbo].[Permission] ([IDper], [permission]) VALUES (N'PER001', 1)
INSERT [dbo].[Permission] ([IDper], [permission]) VALUES (N'PER002', 0)
GO
INSERT [dbo].[PermissionUser] ([id], [IDuser], [IDper]) VALUES (N'PERUSE001', N'USE001', N'PER002')
INSERT [dbo].[PermissionUser] ([id], [IDuser], [IDper]) VALUES (N'PERUSE002', N'USE002', N'PER002')
INSERT [dbo].[PermissionUser] ([id], [IDuser], [IDper]) VALUES (N'PERUSE003', N'USE003', N'PER002')
GO
INSERT [dbo].[TransPermission] ([IDtransper], [transperName]) VALUES (N'TRAPER000', N'Đăng ký thành viên')
INSERT [dbo].[TransPermission] ([IDtransper], [transperName]) VALUES (N'TRAPER001', N'Chủ nhóm dịch')
INSERT [dbo].[TransPermission] ([IDtransper], [transperName]) VALUES (N'TRAPER002', N'Quản lý nhóm')
GO
INSERT [dbo].[TransTeam] ([IDteam], [team], [created]) VALUES (N'TEA001', N'HUTECH', NULL)
INSERT [dbo].[TransTeam] ([IDteam], [team], [created]) VALUES (N'TEA002', N'HOCVIEN', NULL)
INSERT [dbo].[TransTeam] ([IDteam], [team], [created]) VALUES (N'TEA003', N'REDBLOOD', NULL)
GO
INSERT [dbo].[User] ([IDuser], [mail], [pass], [username], [created], [updated], [IDteam], [IDtransper]) VALUES (N'USE001', N'vu@gmail.com', N'123456', N'Vu', NULL, NULL, N'TEA001', N'TRAPER001')
INSERT [dbo].[User] ([IDuser], [mail], [pass], [username], [created], [updated], [IDteam], [IDtransper]) VALUES (N'USE002', N'duy@gmail.com', N'123456', N'Duy', NULL, NULL, N'TEA001', N'TRAPER002')
INSERT [dbo].[User] ([IDuser], [mail], [pass], [username], [created], [updated], [IDteam], [IDtransper]) VALUES (N'USE003', N'luan@gmail.com', N'123456', N'Luan', NULL, NULL, N'TEA001', N'TRAPER003')
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [FK_chapter_Comic] FOREIGN KEY([IDcomic])
REFERENCES [dbo].[Comic] ([IDcomic])
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [FK_chapter_Comic]
GO
ALTER TABLE [dbo].[Comic]  WITH CHECK ADD  CONSTRAINT [FK_Comic_author] FOREIGN KEY([IDauthor])
REFERENCES [dbo].[Author] ([IDauthor])
GO
ALTER TABLE [dbo].[Comic] CHECK CONSTRAINT [FK_Comic_author]
GO
ALTER TABLE [dbo].[ComicCatergory]  WITH CHECK ADD  CONSTRAINT [FK_ComicCatergory_Catergory] FOREIGN KEY([IDcatergory])
REFERENCES [dbo].[Catergory] ([IDcatergory])
GO
ALTER TABLE [dbo].[ComicCatergory] CHECK CONSTRAINT [FK_ComicCatergory_Catergory]
GO
ALTER TABLE [dbo].[ComicCatergory]  WITH CHECK ADD  CONSTRAINT [FK_ComicCatergory_Comic] FOREIGN KEY([IDcomic])
REFERENCES [dbo].[Comic] ([IDcomic])
GO
ALTER TABLE [dbo].[ComicCatergory] CHECK CONSTRAINT [FK_ComicCatergory_Comic]
GO
ALTER TABLE [dbo].[ComicTrans]  WITH CHECK ADD  CONSTRAINT [FK_ComicTrans_Comic] FOREIGN KEY([IDcomic])
REFERENCES [dbo].[Comic] ([IDcomic])
GO
ALTER TABLE [dbo].[ComicTrans] CHECK CONSTRAINT [FK_ComicTrans_Comic]
GO
ALTER TABLE [dbo].[ComicTrans]  WITH CHECK ADD  CONSTRAINT [FK_ComicTrans_TransTeam] FOREIGN KEY([IDteam])
REFERENCES [dbo].[TransTeam] ([IDteam])
GO
ALTER TABLE [dbo].[ComicTrans] CHECK CONSTRAINT [FK_ComicTrans_TransTeam]
GO
ALTER TABLE [dbo].[ImageChapter]  WITH CHECK ADD  CONSTRAINT [FK_ImageChapter_Chapter] FOREIGN KEY([IDchapter])
REFERENCES [dbo].[Chapter] ([IDchapter])
GO
ALTER TABLE [dbo].[ImageChapter] CHECK CONSTRAINT [FK_ImageChapter_Chapter]
GO
ALTER TABLE [dbo].[PermissionUser]  WITH CHECK ADD  CONSTRAINT [FK_PermissionUser_Permission] FOREIGN KEY([IDper])
REFERENCES [dbo].[Permission] ([IDper])
GO
ALTER TABLE [dbo].[PermissionUser] CHECK CONSTRAINT [FK_PermissionUser_Permission]
GO
ALTER TABLE [dbo].[PermissionUser]  WITH CHECK ADD  CONSTRAINT [FK_PermissionUser_User] FOREIGN KEY([IDuser])
REFERENCES [dbo].[User] ([IDuser])
GO
ALTER TABLE [dbo].[PermissionUser] CHECK CONSTRAINT [FK_PermissionUser_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_TransPermission1] FOREIGN KEY([IDtransper])
REFERENCES [dbo].[TransPermission] ([IDtransper])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_TransPermission1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_TransTeam] FOREIGN KEY([IDteam])
REFERENCES [dbo].[TransTeam] ([IDteam])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_TransTeam]
GO
